
<%- include('layout/top.ejs'); -%>
<!-- main left menu -->
<%- include('layout/sidebar.ejs'); -%>

<!-- rightbar icon div -->

<%- include('layout/bottom.ejs'); -%>

    <!-- mani page content body part -->
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Module Brand</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-dashboard"></i></a></li>                            
                            <li class="breadcrumb-item">App</li>
                            <li class="breadcrumb-item active">Module Brand</li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        
        
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Basic Example - Vertical Layout</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="wizard_vertical">
                                <h2>First Section</h2>
                                <section>
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                
                                                <div class="body">
                                                    <label>Category</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Add new Category" />
                                                    </div>
                                                   
                                                    <button type="button" class="btn btn-block btn-primary   m-t-20">Save</button>
                                                </div>
                                            </div>
                                        </div>            
                                    </div>
                                </section>
                                <h2>Second Section</h2>
                                <section>
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="body">
                                                    <label>Tags</label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Add new tags" />
                                                    </div>
                                                    <button type="button" class="btn btn-block btn-primary   m-t-20">Save</button>
                                                </div>
                                            </div>
                                        </div>            
                                    </div>
                                </section>
                                <h2>Third Section</h2>
                                <section>
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="body">
                                                    <label>Add New</label>
                                                    
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Title" />
                                                    </div>
                                                    <div class="form-group m-t-20 m-b-20">
                                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                                        <small id="fileHelp" class="form-text text-muted">LOGO</small>
                                                    </div>
                                                    <div class="form-group m-t-20 m-b-20">
                                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                                        <small id="fileHelp" class="form-text text-muted">Background Image</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="About" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Contact" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Timing" />
                                                    </div>
                                                    <div class="form-group m-t-20 m-b-20">
                                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                                        <small id="fileHelp" class="form-text text-muted">Gallery</small>
                                                        <button class="btn-success">Add more Images</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Category" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Tags" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="More like this" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Floor" />
                                                    </div>
                                                    <button type="button" class="btn btn-block btn-primary m-t-20">Save</button>
                                                </div>
                                            </div>
                                        </div>            
                                    </div>
                                </section>
                                <h2>Forth Section</h2>
                                <section>
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="body">
                                                    <label>Execl Import to update brands in Bulk</label>
                                                    <div class="form-group m-t-20 m-b-20">
                                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                                        <small id="fileHelp" class="form-text text-muted">Image Upload</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Match Column" />
                                                    </div>
                                                    <button type="button" class="btn btn-block btn-primary m-t-20">Save</button>
                                                </div>
                                            </div>
                                        </div>            
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
          

        </div>
    </div>
    
</div>

<!-- Javascript -->
<script src="dist/assets/bundles/libscripts.bundle.js"></script>    
<script src="dist/assets/bundles/vendorscripts.bundle.js"></script>

<script src="dist/assets/vendor/jquery-validation/jquery.validate.js"></script> <!-- Jquery Validation Plugin Css -->
<script src="dist/assets/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->


<!-- page js file -->
<script src="dist/assets/bundles/mainscripts.bundle.js"></script>
<script src="../js/pages/forms/form-wizard.js"></script>
</body>
</html>

